<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Page</title>
</head>
<body>
  <h1>crop List</h1>
  <a href="/sql/insert">Add crop</a>
  <hr/>
  <table border="1">
    <tr>
      <th>DELETE</th>
      <th>EDIT</th>
      <th>작물</th>
      <th>온도</th>
      <th>심은날짜</th>
      <th>갱신시각</th>
    </tr>
    <% data.forEach(function (item, index) { %>
    <tr>
      <td><a href="/sql/delete/<%= item.작물%>">DELETE</a></td>
      <td><a href="/sql/edit/<%= item.작물 %>">EDIT</a></td>
      <td><%= item.작물 %></td>
      <td><%= item.온도 %></td>
      <td><%= item.심은날짜 %></td>
      <td><%= item.갱신시각 %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>